/* Write your CSS here! */
h1{
    color:brown;
     text-align: center;
     

 }
 h2,h3,h4,h5,h6{
    font-style: normal;
 }
 article{
    font-size: larger;
 }
 #mainHeading{
     color: red;
     font-size:xx-large;
     
       }
 #img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }
   body{
     margin: 8px;
     display:block;
   }
   
   
   .funParagraph{
     color: green;
   }
   #famousPlacess{
     color: brown;
   }
   footer{
     color: blueviolet;
   }
  